Repository JoseDeFreitas/awesome-youtubers, pull requests merged in 2020-10, with the labels that each got.

#15 New Youtuber
  readme.md
Labels: new youtuber

#17 Added FR page
  other-languages/readme-fr.md
Labels: new youtuber

#19 Fun fun function
  readme.md
Labels: new youtuber

#22 added two raspberry pi youtubers
  readme.md
Labels: new youtuber

#16 Added Yuri Artyukh
  readme.md
Labels: new youtuber

#18 Jason lengstorf
  readme.md
Labels: new youtuber

#20 Added swyx
  readme.md
Labels: new youtuber

#23 New Youtuber
  readme.md
Labels: new youtuber

#21 Editing the contribution page
  contributing.md
Labels: enhancement

#34 New Youtuber
  readme.md
Labels: new youtuber

#37 added KodingKevin
  readme.md
Labels: new youtuber

#35 Added PowerCert Animated Videos (hacktoberfest)
  readme.md
Labels: new youtuber

#39 added a software engineer lifestyle JomaTech
  readme.md
Labels: new youtuber

#49 Addelectronics
  readme.md
Labels: enhancement, new youtuber

#50 added alex lee
  readme.md
Labels: new youtuber

#51 Bitfumes
  readme.md
Labels: new youtuber

#47 Added a Youtuber in list
  badges.md
  media/badge-daily.svg
  readme.md
Labels: new youtuber
